@import 'bulma/css/bulma.min.css';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";
@import "@fortawesome/fontawesome-free/css/regular.min.css";

:root {
  --mx-font: "Teko", sans-serif;
  --mx-b-font: "Rubik", sans-serif;
  --mx-base: #ffaa17;
  --mx-base-rgb: 255, 170, 23;
  --mx-black: #222429;
  --mx-text: #686a6f;
  --mx-background: #f0f0f0;

  --bulma-link-base: var(--mx-base);
  --bulma-link: var(--mx-base);
}

body * {
  font-family: var(--mx-b-font);
  color: var(--mx-black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--mx-font);
  color: var(--mx-black);
}

.orange {
  color: var(--mx-base);
}

a {
  text-decoration: none !important;
}

.menu-list a.is-active {
  background-color: var(--mx-base);
}
@media (prefers-color-scheme: light) {
  i {
    color: var(--mx-black);
  }
}
@media (prefers-color-scheme: dark) {
  i {
    color: var(--mx-background);
  }
}
html[data-theme="dark"]  i {
    color: var(--mx-background);
  }
  html[data-theme="light"]  i {
    color: var(--mx-black);
  }
