.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px 80px 20px;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
}

.singletool {
    height: 100%;
}


.singletool:hover:not(.disabled) {
    height: 100%;
    background-color: var(--mx-base);
    transition: all 0.3s ease;
    cursor: pointer;
}

.title {
    font-size: large;
    display: flex;
    align-items: center;
    padding-bottom: 5px;;
}
.title i {
    margin-right: 10px;
}
.subtitle {
    font-size: medium;
}

.disabled {
    opacity: 0.5;
    cursor: pointer;
}